<H1>Home Page</H1>

<div id="profile" style="border-style: solid; text-align: center; width: 200px ">
    <h3> @{{profileName}}</h3>
    <h4> Followers :{{followers}}</h4>
</div>
<p>
    <a href="/#/add-chirp">New Post</a>
</p>
<div ng-app></div>
<ul>
    <li ng-repeat='post in posts'>
        <a href="/#/chirp/{{post._id}}">
            {{post.content}}
        </a>
        <a href="/#/chirp/delete/{{post._id}}">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </li>
</ul>
<br>
<h3>People You may Know</h3>
<ul>
    <li ng-repeat='user in newUsers'>
        <a href="/#/newFollow/{{user._id}}">
            {{user.name}} 
        </a>
    </li>
</ul>