<div class="homepage" align="center" style="background-color:powderblue">
    <H1>Home Page</H1>
    <div class="row">
        <div class="column" style="width: 25%">
            <div id="profile" style=" margin:auto; border-style: solid">
                <h3 > @{{profileName}}</h3>
                <h3 ng-model="posts.userID" style="visibility: hidden"> {{profileID}}</h3>
                <h4> Following: {{user.following.length}}</h4>
            </div>
            <div id="followersSearch">
                <h3>People You may Know</h3>
                <ul>
                    <li ng-repeat='user in newUsers'>
                            {{user.name}} 
                        <a href="/#/newFollow/{{user._id}}">
                            Follow
                        </a>
                    </li>
                </ul>
            </div>                        
        </div>
        <div class="column" style="width:75%">
            <form>
                <div class="form-group" style="width: 800px">
                    <label>Enter your new Chirp</label>     
                    <input class="form-control" ng-model="posts.content" maxlength="144"></input>
                </div>
                <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>    
            </form>
                <div ng-repeat='post in posts'>
                    <div id="posts" align="center" >
                        <div id="post_content" class="row">
                            <div id="post_profile" style=" width:30px; float:left; border-right: black" >
                                <p>
                                    @{{post.author}}
                                </p>
                            </div>
                            <div id="post_text" style="margin:auto">
                                <br>
                    <!-- <div id="posts" align="middle" class="row">
                        <div id="post_profile" class="column" style=" width:15%; height: 100px; border-right: 3px solid #000000" >
                            <p style="padding-top: 20px">
                                @{{post.author}}
                            </p>
                        </div> -->

                        <div id="post_content" class="column" style=" width:70%; height: 100px;" >
                            <div id="post_text" class="row" style=" padding-top: 20px; height:70%">
                                <a ng-if="post.author == user._id" href="/#/chirp/{{post._id}}">
                                    {{post.content}}
                                </a>    

                                <p ng-if="post.author != user._id">
                                    {{post.content}}
                                </p> 
                            </div>
                            <div id="options" class="row" align="middle" style="margin:auto; padding-left: 30px; margin:auto; height:20px" >
                                <div id="reply" class="column" style="padding-right: 10px">
                                    <i class="glyphicon glyphicon-share-alt"></i>
                                </div>
                                <div id="favorite" class="column" style="padding-right: 10px">
                                    <input class="form-control" type="hidden" name="favorites" id="favorites"  ng-model="user.favorites">
                                    <button value="favorites" class="glyphicon glyphicon-heart" ng-click="favorite(post._id)">  
                                        <i >{{post.favorited}}</i> 
                                    </button>
                                    
                                </div>    
                                   
                                <div id="delete" class="column">
                                    <a ng-if="post.author == user._id" href="/#/chirp/delete/{{post._id}}">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>    
                                </div>                            
                            </div>
                        </div>
                        
                            
                    </div>                 
                </div>
            <br>        
        </div>
    </div>
    
        
</div>
<style type="text/css">
.column {
  float: left;
}
body {background-color: powderblue;}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#posts {
  border-radius: 25px;
  border: 2px solid #000000;
  padding-left: 20px;
  margin:30px; 
  width:800px;
  height: 100px;
}
</style>